<h1>Your Profile</h1>

    <h3><%= link_to "Categories", categories_path %> - Here you can create, edit and delete categories of your incomes and expenses</h3>
    <h3><%= link_to "Incomes", inexes_path(kind: "Incomes") %> - Here you can create, edit and delete your incomes</h3>
    <h3><%= link_to "Expenses",inexes_path(kind: "Expenses") %> - Here you can create, edit and delete your expenses</h3>
    <h3><%= link_to "Report", reports_path %> - Here you can get report by date about your incomes and expenses</h3>